@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}

*::selection{
  /* background-color: #a1d3ff; */
  background-color: #ffe5b4;
  /* color: white; */
}

/* no up and down key in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrap{
    flex-wrap: wrap;
}

/* :root{
    --padding-inline-section: 20px;
} */

/* ----------- Scrollbar CSS -------- */

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #160a38;
    /* border-radius: 4px; */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3770FF;
    border-radius: 4px;
  }


    /* ---------site------------ */

body{
    background-color: #fff;  
    /* background-color: #DAF2FF; */
}

/* .selector ::selection{
    background-color: #cec2eb;
} */


.wrapper{
    width: 1280px;
    margin: auto;
}


/* .spinner{
    width: 44.8px;
    height: 44.8px;
    color: #3770FF;
    position: relative;
    background: radial-gradient(11.2px,currentColor 94%,#0000);
  }
  
  .spinner:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
            radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
            radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
            radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  
  @keyframes loader {
    33% {
      inset: -11.2px;
      transform: rotate(0deg);
    }
  
    66% {
      inset: -11.2px;
      transform: rotate(90deg);
    }
  
    100% {
      inset: 0;
      transform: rotate(90deg);
    }
  } */

  /* loader */
  .loader {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #2770FF;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  /* skeleton card */
.skeleton-loader {
    position: relative;
    width: 300px;
    height: 356.4px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px;
}

.skeleton-loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
}

.skeleton-loader .skeleton-loader-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.skeleton-loader .skeleton-loader-circle {
    width: 100%;
    height: 150px;
    background-color: #e2e1e1;
}

.skeleton-loader .line-1 {
    position: absolute;
    top: 165px; /* Changed from margin-top to top */
    height: 30px;
    width: 180px;
    background-color: #e2e1e1; /* Added background color */
}

.skeleton-loader .line-2 {
    position: absolute;
    top: 210px; /* Adjusted position */
    left: 0;
    height: 20px;
    width: 160px;
    background-color: #e2e1e1; /* Added background color */
}

.skeleton-loader .line-3 {
    position: absolute;
    top: 245px; /* Adjusted position */
    left: 0;
    height: 15px;
    width: 130px;
    background-color: #e2e1e1; /* Added background color */
}

.skeleton-loader .line-3a {
  position: absolute;
  top: 275px; /* Adjusted position */
  left: 0;
  height: 15px;
  width: 100px;
  background-color: #e2e1e1; /* Added background color */
}

.skeleton-loader .line-4 {
    position: absolute;
    top: 305px; /* Adjusted position */
    left: 17px;
    height: 36px;
    border-radius: 4px;
    width: 266.4px; /* Adjusted width */
    background-color: #e2e1e1; /* Added background color */
}

@keyframes gradient-animation_2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

  

/* .container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
} */

/*-----------------Errorpage------------ */
.error{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #DAF2FF;
  height: calc(100vh - 5rem);
  width: 100%;
  overflow: hidden;
}
.error h1{
  color: #3770FF;
}

/* to the top button */
.totop-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.totop-container :hover{
  transform: scale(0.97) !important;
}

.totop{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border: 1px solid #3770FF;
  color: #3770FF;
  cursor: pointer;
  z-index: 999;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all .3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*-----------------Homepage------------ */

.flex-col{
    flex-direction: column;
}

/* section 1 */

.flex{
    display: flex;
}

.section-wrapper{
    width: 100%;
    background-color: #F8F7F4;
    /* background-color: #e4ebf5; */
    /* background-color: #fff; */
    position: relative;
}

.home-hero1{
    padding: 0px 100px;
    width: 100%;
    margin: auto;
    align-items: center; 
    justify-content: space-between;
    background-color: #DAF2FF;
    position: relative;
}

.home-hero1-left{
    max-width: 100%;
}

.home-hero1-left h1{
    justify-content: center;
    max-width: 40vw;
    font-size: xx-large;
    font-weight: 600;
}

.typeanimation{
    color: #3770FF;
}

.home-hero1-right img{
    pointer-events: none;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

.get-started-div{
    margin-top: 60px;
    width: fit-content;
    height: fit-content;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   }
   
   .btn-1 {
    width: fit-content;
    transition: all 0.3s ease;
    /* background: #3770FF; */
    background: linear-gradient(0deg, rgb(25, 95, 255) 0%, rgb(106, 129, 255) 100%);
    border: none;
    font-weight: 300;
   }
   
   .btn-1:before {
    height: 0%;
    width: 2px;
   }
   
   .btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
       inset -4px -4px 6px 0 rgba(255,255,255,.2),
       inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
       transform: scale(0.98);
   }


/* .btn-1{
    border-radius: 6px;
    padding: 12px 24px;
    border-color: #3770FF;
    cursor: pointer;
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #3770FF;
    background-color: white;
} 
*/

/* curve-1 img */

.custom-shape-divider-top-1705728335 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1705728335 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 166px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1705728335 .shape-fill {
    fill: #DAF2FF;
}

/* section 2 */

.home-hero2{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 0 120px 100px 120px;
    /* flex-wrap: wrap; */
    /* flex: 1 */
}

.home-hero2-main { 
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  /* section-2 left */

  .custom-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 424px;
    justify-content: center;
    padding: 46px 50px;
    border-radius: 20px;
    width: 100%;
    gap: 50px;
    align-items: flex-start;
    background-color: #9cdcffdb;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  }

  .custom-left-under{
    height: 100%;
    font-size: 18px;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: space-between;
    gap: 20px;
}

.custom-left-under p{
    max-width: 488px;
    font-size: xx-large;
    font-weight: 600;
    gap: 50px;
}

.custom-left-under h3{
    max-width: 488px;
    font-weight: 500;
}
  

/* section-2 right */

.custom-right {
    flex: 1;
  }
  
  .custom-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* align-items: center; */
    min-height: auto;
    width: 100%;
  }

  .custom-element { 
    flex: 1;
    display: flex;
    gap: 24px;
    background-color: #DAF2FF;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 24px 30px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    width: 100%;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  }
  
  .custom-icon {
    height: 40px;
    width: 40px;
  }


@media (max-width: 768px) {
    .home-hero2-left,
    .home-hereo-right {
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }

/* simple waves */
.custom-shape-divider-top-1707326481 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

.custom-shape-divider-top-1707326481 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.custom-shape-divider-top-1707326481 .shape-fill {
  fill: #DAf2FF;
}


/* section 3 */

/* Common Styles */
.home-hero3 {
  align-items: center;
  justify-content: center;
  padding: 50px 120px 50px 120px;
  height: 100%;
  background-color: #DAF2FF; /* Background color for the entire section */
  
}

.padding {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.home-hero3-under-1,.home-hero3-under-2,.home-hero3-under-3,.home-hero3-under-4{
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  flex: 1 0 calc(25% - 20px);
  pointer-events: none;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
} 
.home-hero3-under-1 img,.home-hero3-under-2 img,.home-hero3-under-3 img,.home-hero3-under-4 img{
  height: 35px;
  width: 35px;
  /* border: 1px solid #daf2ff; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px; */
  border-radius:10px;
  background-color:white;
}

@media (max-width: 768px) {
  .home-hero3-under {
    flex-basis: calc(50% - 20px); /* Two items per row on smaller screens */
  }
}

/* curvy waves */

.custom-shape-divider-top-1707325734 {
  position: relative;
  top: 1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707325734 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 95px;
}

.custom-shape-divider-top-1707325734 .shape-fill {
  fill: #DAF2FF;
}

/* section 4 */

.home-hero4{
  align-items: center;
  justify-content: center;
  padding: 50px 120px;
  height: 100%;
  background-color: #FFF;
  gap: 40px;
}

.home-hero4-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home-hero4-top h2{
  font-size: 32px;
  font-weight: 500;
}
.home-hero4-top p{
  font-size: 25px;
  display: flex;
  gap: 5px;
  cursor: pointer; 
}
.home-hero4-top p a{
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: #3770FF;
}
.home-hero4-top p span{
  font-weight: 700;
}

.home-hero4-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

/* book */

.custom-shape-divider-top-1707836000 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707836000 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
  background-color: #DAF2FF;
}

.custom-shape-divider-top-1707836000 .shape-fill {
  fill: #FFF;
}

/* tilt img */

.custom-shape-divider-bottom-1705730206 {
  position: relative;
  top: 1px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705730206 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1705730206 .shape-fill {
  fill: #DAF2FF;
}

/* section 5 */

.home-hero5{
  display: flex;
  flex-direction: column;
  background-color: #DAF2FF;
  padding: 30px 120px 50px 120px;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center; 
  justify-content: center;
  gap: 40px;
}

.home-hero5 h1{
  font-size: 32px;
  /* color: #3770FF; */
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-hero5-content-wrapper{
  display: flex;
  justify-content: space-around;
  gap: 35px;
  flex-wrap: wrap;
}

.home-hero5-content{
  background-color: #FFF;
  border-radius: 20px;
  display: flex;
  padding: 20px 25px 20px 20px;
  gap: 20px;
  width: 400px;
  height: 250px;
  border-bottom: 3px solid #3770FF;
  transition: all .3s ease;
}

.home-hero5-content-left{
  display: flex;
  height: 50px;
  width: 50px;
}

.home-hero5-content-right{
 display: flex;
 flex-direction: column;
 gap: 10px;
 
}

.home-hero5-content-right-p1{
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.home-hero5-content-right-p2{
  /* text-align: justify; */
  font-size: 17px;
}


/* tilt 2 */

.custom-shape-divider-bottom-272727 {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-272727 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  
}

.custom-shape-divider-bottom-272727 .shape-fill {
  fill: #DAF2FF;
}

/*----------------footer---------------------*/

.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 100px;
  gap: 10px;
  background-color: #f8fcfe;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo{
  display: flex;
  align-items: center;
}

.footer-icons-wrapper{
  display: flex;
  gap: 20px;
}

.partition2 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem; 
  margin-bottom: 1.5rem;
  height: 1px !important;
  width: 95%; 
  background-color: black; 
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons:hover{
  cursor: pointer;
  color: #3770FF;
}

.footer-section h2{
  font-weight: 600;
  /* color: #3770FF; */
}

.footer-section p a{
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.footer-section p a:hover{
  color: #3770FF;
  text-decoration: underline #3770FF;
}

.footer-sub-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer-sub-content-left{
  display: flex;
  width: 400px;
  height: 150px;
  align-items: start;
  justify-content: center;
}

.footer-sub-content-right{
  display: flex;
  justify-content: center;
  gap: 40px;
}


.footer-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



/*------------------ login page -------------------- */

.login-wrapper{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #DAF2FF;
    /* background: white; */
    width: 100%;
    height: 100vh;
}

.login-page {
    display: flex;
    flex-direction: row;
    background: white;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 16px;
  }

  .signup-page {
    display: flex;
    flex-direction: column;
    background: white;
    gap: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    margin: 0 auto;
    padding: 0px 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 16px;
  }

.login-page h1{
    font-size: 40px;
    color: #3770FF;
}

.login-form{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* .input{
    height: 50px;
    position: relative;
    /* width: 500px; */
    /* margin: 48px 0;
    align-items: center;
    justify-content: center; */
/* } */

.input {
    position: relative;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 24px 0;
  }


.user-icon,
.lock-icon {
  position: absolute;
  /* left: 40px; */
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.eye-btn {
  position: absolute;
  right: 10px;
  top: 59%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input label{
    position: absolute;
    top: 52%;
    transform: translateY(-60%);
    /* top: 50%;
    transform: translateY(-50%); */
    font-size: 16px;
    left: 45px;
    pointer-events: none;
    transition: all .5s ease;
    color: black;
}

input:-webkit-autofill{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #3770FF;
    box-shadow: inset 0 0 20px 20px #fff;
}

.input input {
    color: #3770FF;
    width: 100%;
    height: 50px;
    padding-left: 40px;
    border-radius: 8px;
    outline: none;
    border: transparent;
    border: 1px solid lightgrey;
    font-size: 18px;
    transition: 0.3s;
    /* box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 2px */
    
}

.input input:focus{
    border-color: #3770FF;
    /* box-shadow: 4px 4px 60px 0 rgba(255, 255, 255, 0.5),
            -1px -1px 1px 0 rgba(116, 125, 136, 0.5),
            inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
            inset 3px 3px 4px 0 rgba(0, 0, 0, 0.4); */
}


form .input input:focus~label,
form .input input:valid~label,
form .input input:focus~i,
form .input input:valid~i {
    top: 0 !important;
    font-size: 15px !important;
    background-color: white;
    
}

.password{
    margin: 0;
}

.login-bottom{
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.forgot-password-div{
  position: relative;
    text-align: end;
    right: -10px;
    width: 100%;
}

.signin-btn button{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
}

.link{
    /* gap:10px; */
    align-items: center;
    justify-content: center;
}

.link a{
    color: #3770FF;
    text-decoration: none;
}

.tab{
    display: flex;
    background-color: #daf2ff;
    padding: 1px;
    gap: 15px;
    box-shadow: inset 0px -1px 0px lightgrey;
    border-radius: 9999px; 
    transition-duration: .5s;
}

.tab button{
    padding-top: 8px; 
    padding-bottom: 8px;
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 9999px;
    transition-property: all;
    transition-duration: .5s;
}

.signup-bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.tandc{
  align-items: center;
  display: flex;
  gap: 10px;
}

#tandc{
  cursor: pointer;
  color: #3770FF;
}

.tandc input{
  cursor: pointer;
  width: 17px;
  height: 17px;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* otp form */

.otp-wrapper{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #DAF2FF;
  width: 100%;
  height: 100vh;
}

.otp-Form {
  width: 360px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
  border-radius: 15px;
}

.main-heading {
  font-size: 25px;
  color: #3770FF;
  font-weight: 700;
}

.otp-subheading {
  font-size: 17px;
  color: black;
  line-height: 17px;
  text-align: center;
}

.otp-input {
  background-color: rgb(228, 228, 228);
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: rgb(127, 129, 255);
  color: rgb(44, 44, 44);
  outline: none;
  font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: .3s;
}

.verifyButton {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #3770FF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .2s;
}

.verifyButton:hover {
  background-color: rgb(84, 165, 255);
  transition-duration: .2s;
}

.link-signup{
  font-size: 0.7em;
  color: black;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.link-signup a{
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.link-signup p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.resendBtn {
  align-items: center;
  display: flex;
  gap: 5px;
  background-color: transparent;
  /* background-color: #DAF2FF; */
  border: none;
  color: #3770FF;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  /* margin-top: 10px; */
  /* padding: 2.5px;
  border-radius: 5px; */
}

/* forgot password */

.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DAF2FF;
}

.forgot-pass-page {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.forgot-pass-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forgot-pass-page p {
  font-size: 16px;
  margin-bottom: 20px;
}

.reset-pass-form {
  margin-bottom: 20px;
}


.reset-pass-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3770FF;
  color: #fff;
  cursor: pointer;
}

.reset-pass-form button:hover {
  background-color: #0056b3;
}

.link-back {
  margin-top: 20px;
}

.link-back a {
  color: #3770FF;
  text-decoration: none;
}

.link-back p{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5px;
}

/* update password */

.change-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DAF2FF;
}

.change-pass-page {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.change-pass-page h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3770FF;
}

.change-pass-page p {
  font-size: 16px;
  margin-bottom: 20px;
}

.change-pass-page form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.change-pass-page form button:hover {
  background-color: #0056b3;
}



/* Navbar */

.navbar{
  position: sticky;
  top: 0;
  height: 80px;
  padding-top: 10px;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #daf2ff ;
  /* border-bottom: 1px solid lightgray; */
  transition: 0.3s ease-in-out;
  /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%); */
  padding: 15px 4% 15px 7%;
  /* border-width: 50%;
  border-bottom: 1px solid lightgray; */
}

.navbar.white-background {
  background-color: white;
  border-bottom: 1px solid lightgray;
  /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%) !important; */

}

.navbar.blue-background {
  background-color: #DAF2FF;
}

.navbar.scrolled {
  /* box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06); */
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%) !important;
  background-color: #FFF !important;
  border: none;
}

/* nav-left */

.nav-left{
  display: flex;
}

.nav-middle{
  display: flex;
  /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  background-color: white;
  border-radius: 30px; */
}

ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/*  */
ul li button{
  font-size: 18px;
  color: #3f5269;
  font-family: inherit;
  /* font-weight: 300; */
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  /* text-transform: uppercase; */
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
ul li button:focus,
ul li button:hover {
  color: #3770FF;
}

ul li button:focus:after,
ul li button:hover:after {
  width: 100%;
  left: 0%;
}

ul li button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #3770FF;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/* nav right */
.nav-right{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
}

.nav-right1 button {
  color: #3f5269e5;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 11px 27px;
  font-size: 15px;
  border-radius: 0.5em;
  background: transparent;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-right1 button:hover {
  transform: scale(0.96);
  color: #3770FF;
  border: 1px solid #3770FF;
  /* box-shadow: #c9ecff 4px 4px 6px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 6px 1px inset; */
}

.nav-right2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #3f5269;
  /* color: #000000c7; */
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: -1px -1px 15px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 38%);
 }
 
 .nav-right2 button:hover {
  color: #3770FF;
  transform: scale(1.03);
  background-color: #fff;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 5px 0px rgb(95 157 231 / 48%);
 }
 
 .nav-right2 button:active {
  transform: scale(0.99);
  box-shadow: none;
 }

.profilepic{
  border-radius: 30px;
}

/* .profilepic:hover{
  transform: scale(0.97);
} */

.profilepic img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.f-name{
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  gap: 7px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #160a38a5;
}
.f-name:hover{
  color: #3770FF;
  transform: scale(0.97);
}
.f-name:hover .profilepic img {
  border: solid 2px whitesmoke;
}

.f-name p{
  font-weight: 500;
  text-transform: capitalize;
}

.nav-right3 button {
  color: #3f5269;
  letter-spacing: 0.4px;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  /* border: 1px solid #FFF; */
  border: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 110px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.nav-right3 button:hover {
  color: #3770FF;
  border: 1px solid #3770FF;
  transform: scale(0.98);
  /* transform: scale(0.99); */
}

.logout-icon{
  height: 20px;
  width: 20px;
}
.nav-right4:hover{
  color: #3770FF;
}



/* Dashboard */

/* dashboard */

.dashboard-wrapper{
  position: relative;
  display: flex;
  min-height: calc(100vh - 5rem);
  align-items: center;
}

.outlet-container{
  height: calc(100vh - 5rem);
  flex: 1;
  overflow: auto;
}

.outlet-content{
  margin: auto;
  width: 91%;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* sidebar */

.sidebar{
  min-width: 220px;
  background-color: #FFF;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding: 20px 0px;
}

.sidebar-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.sidebar-top-under{
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  position: relative;
  padding: 8px 32px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease;
  text-decoration: none;
  background-color: transparent;
  color: #1f2937;
  border-radius: 10px;
  border: 1px solid transparent;
}
.sidebar-link:hover{
  color: #3770FF;
  transform: scale(0.98);
}
.sidebar-link.active {
  background-color: #3770FF;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: rgba(3, 0, 92, 0.12) 0px 1px 3px, rgba(3, 0, 92, 0.07) 0px 4px 11px;
}

.sidebar-link-inside{
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-link-icon{
  height: 30px;
  width: 20px;
}

/* .sidebar-line{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.15rem;
  background-color: red;
  opacity: 0;
}
.sidebar-line.active {
  opacity: 1;
} */

.partition {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem; 
  margin-bottom: 1.5rem;
  height: 2px;
  width: 83.333333%; 
  background-color: lightgray; 
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  gap: 40px;
}
.sidebar-bottom button{
  color: #3f5269;
  letter-spacing: 0.4px;
  padding: 10px 32px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #FFF;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.sidebar-bottom button:hover{
  color: #3770FF;
  border: 1px solid #3770FF;
  transform: scale(0.98);
}

.logout-sidebar {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 0.5rem;
}

.logout-icon-sidebar{
  height: 20px;
  width: 20px;
}

/* logout model */

.your-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.your-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 11/12;
  max-width: 350px;
  border-radius: 0.375rem;
  border: 1px solid #FFF;
  background-color: #FFF;
  padding: 1.5rem;
}

.your-modal-title {
  font-size: 24px;
  font-weight: 600;
  color: #3770FF;
}

.your-modal-description {
  margin-top: 12px;
  margin-bottom: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.your-modal-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.your-modal-custom-button {
  cursor: pointer;
  border-radius: 0.375rem;
  padding: 8px 20px;
  font-weight: 600;
  background-color: rgba(0, 32, 192, 0.793);
  color: #FFF;
}

/* icon btn */

.icon-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 45px;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  /* font-weight: 600; */
  gap: 7px;
  text-align: center;
  background-color: #3770FF;
  color: #FFF; 
  transition: all .3s ease;
}
.icon-btn:hover{
  transform: scale(0.95);
}

.icon-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.icon-btn.outline {
  border: 1px solid #FEEA7F;
  background-color: transparent;
}

.icon-btn.outline-text {
  color: #FEEA7F;
}
/* -----------------outlet---------------*/
.outlet-wrapper{
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
}

/* --------------------dashboard-------------- */
/* my profile */

.myprofile-wrapper{
  display: flex;
  width: 100%;
}

.welcome-txt{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-1{
  display: flex;
  background-color: blue;
  gap: 200px;
}

.profile-1-jr{
  display: flex;
  gap: 20px;
  display: flex;
  height: 100%;
  background-color: purple;
}
.profile-1-jr img{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  cursor: pointer;
}

/* .login-modal{
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
.login-page {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

.close-button:hover {
  color: #3770FF;
} */

.profile-card {
  width: 100%;
  height: calc(100vh - 5rem);
  margin: auto;
  background-color: #fff;
  padding: 20px;
}
.profile-card h1 {
  margin-bottom: 14px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #1a1a1a; */
  border-radius: 4px;
  background-color: #fff;
  padding: 14px 3%;
}

.profile-info-container img {
  width: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  gap: 16px;
}
.profile-details p {
  margin: 0;
}

.space-y-1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fname-lastname{
  color: #000;
  font-weight: 400;
}

.mail-my-profile{
  color: #000;
  font-weight: 400;
}

.partition1 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem; 
  margin-bottom: 1.5rem;
  height: 1px !important;
  width: 90%; 
  background-color: lightgray; 
}

.profile-section {
  /* margin-top: 30px; */
  display: flex;
  /* gap: 50px; */
  flex-direction: column;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid #1a1a1a; */
  border-radius: 4px;
  background-color: #fff;
  padding: 16px 3%;
}

.details-header {
  display: flex;
  justify-content: space-between;
}
.details-header p{
  font-weight: 700;
}

.edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1a1a1a;
  font-size: large;
}

.about-txt{
  font-size: 16px;
  font-weight: 500;
}
.about-txt1{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.personal-details {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.detail {
  flex-basis: calc(50% - 20px);
}

.label {
  font-size: 14px;
  color: #666666;
}

.value {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
}

/* my listings */

.mylisting-container{
  display: flex;
  flex-wrap: wrap;
}

.my-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 



/* ----------------add listing---------------- */

.create-listing-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.create-listing-wrapper h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.create-listing-data label {
  /* display: block; */
  margin-bottom: 10px;
}

.create-listing-data select,
.create-listing-data input,
.create-listing-data textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover{
    border: 1px solid #3770FF !important;
    outline: 1px solid #3770FF;
    box-shadow: 12px 12px 18px -17px rgba(0,0,0,0.2);  }
}
.create-listing-data select:focus{
  border: 1px solid #3770FF !important;
  outline: 1px solid #3770FF !important;
  box-shadow: none;
}
.create-listing-data input:focus{
  border: 1px solid #3770FF !important;
  outline: 1px solid #3770FF;
  box-shadow: none;
}

.propertyType{
  cursor: pointer;
}

.propertyType *{
  font-size: 15px;
}

/* .create-listing-data button {
  padding: 10px 15px;
  background-color: #DAF2FF;
  color: #3770FF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}

.create-listing-data button:hover {
  background-color: #3770FF;
  color: #FFF;
} */

.custom-file-upload {
  position: relative;
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 20px 0px;
}

.profile-edit-button {
  background-color: #3770FF;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

.profile-edit-button:hover {
  background-color: #DAF2FF;
  color: #3770FF;
}

#inp {
  display: none;
}

.submit-add-listing{
  margin: 20px 0px 0px 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  padding: 0 10px;
}

/* ------------settings--------- */

/* setting ---> index.jsx */
.my-profile-title {
  margin-bottom: 14px;
  font-size: 1.875rem;
  font-weight: 500;
  color: #1a1a1a;
}

.setting-container{
  padding: 20px;
  width: 100%;
}

/* change profile */
.custom-container {
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.custom-sub-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-image {
  width: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-content {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.custom-content p {
  font-size: 1.125rem;
  color: #1a1a1a;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-3 {
  gap: 0.75rem;
}

.custom-file-input {
  display: none;
}

.button-div{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
}

.select-button {
  bottom: 0;
  display: flex;
  background-color: #1a1a1a; 
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
.select-button:hover{
  transform: scale(0.95);
}

.custom-icn {
  font-size: 18px;
  color: #fff;
}



/* setting edit profile */

.text-richblack-5 {
  color: #000;
}

.text-richblack-300 {
  color: #000;
}

.text-richblack-400 {
  color: #fff;
}

/* Button Styles */
/* .profile-edit-button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  background-color: #1a1a1a;
  color: #ffffff;
}
.profile-edit-button:hover{
  transform: scale(0.95);
} */

/* Back Button Styles */
.back-button {
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  height: 45px;
  width: 100px;
  transition: all .3s ease;
}
.back-button:hover{
  transform: scale(0.95);
}

.special-btn {
  cursor: pointer;
  background-color: #e6efff;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
}
.special-btn:hover{
  transform: scale(0.95);
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.edit-profile-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 45px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.edit-profile-details {
  display: flex;
  gap: 50px;
  
}

.edit-profile-details-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.edit-profile-details-column-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-profile-details-column-data label {
  font-size: 14px;
  color: #1a1a1a;
}

.edit-profile-details-column-data input,
.edit-profile-details-column-data select {
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}
.edit-profile-details-column-data input:focus{
  border-color: #3770FF;
  outline: 1px solid #3770FF;
  color: #3770FF;
}

.edit-profile-details-column-data span {
  margin-top: -1px;
  font-size: 120px;
  color: #3770FF;
}

.edit-profile-detail-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#dateOfBirth, #gender{
  cursor: pointer;
}

/* -----------delete account------ */

/* styles.css */

.delete-account-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid red;
  border-radius: 0.375rem;
  /* background-color: #e91e63; */
  padding: 32px 48px;
}

.delete-account-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f6f6f6;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
}

.delete-account-icon svg {
  font-size: 24px;
  color: red;
}

.delete-account-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.delete-account-title {
  font-size: 20px;
  font-weight: 500;
}

.delete-account-description {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delete-account-button {
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  font-style: italic;
  color: red;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.delete-account-button:hover{
  transform: scale(0.98);
  background-color: red;
  color: #FFF;
}


/* update password */

.update-pass-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  padding: 12px 45px;
}

.update-pass-form h2 {
  font-size: 20px;
  font-weight: 500;
}

.update-pass-form-inner {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.update-pass-input-container{
  display: flex;
  width: 100%;
  gap: 50px;
}

.label-style {
  font-size: 14px;
}

.form-style {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #fff;
  color: #3770FF;
}

.form-input-group input:hover{
  outline: 1px solid #3770FF;
  border: 1px solid #3770FF;
}

.show-password-icon {
  position: absolute;
  right: 3px;
  top: 38px;
  z-index: 10;
  cursor: pointer;
}

.text-warning {
  margin-top: -1px;
  font-size: 12px;
  color: red;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

/* .cancel-btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  background-color: #1e212b;
  color: #d7d7d7;
  font-weight: 600;
}*/

.update-btn {
  background-color: #e6efff;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
} 

.update-btn:hover {
  transform: scale(0.95);
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}


/* Responsive adjustments - Add your own media queries as needed */
@media (max-width: 600px) {
  .form-input-group {
    width: 100%;
  }
}

/* ------------card component--------------- */

/* Add the following styles in a separate CSS file, e.g., Card.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  cursor: pointer;
  border: 1px solid lightblue;
  width: 300px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  /* box-shadow: 0 4px 8px #DAF2FF; */
  border: 1px solid #3770FF;
  /* background-color: #DAF2FF; */
}

.card-img{
  display: flex;
  transition: transform 0.3s ease;
}

.card:hover .card-img{
  transform: scale(1.03);
}

.card-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
  background-color: #ffffff;
}
/* .card-info:hover{
  background-color: #DAF2FF;
} */
/* .card-img:hover + .card-info {
  background-color: #DAF2FF;
} */

.card-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
}

.card-location {
  margin-top: 8px;
  color: #666666;
}

.card-property-details {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  color: #888888;
}

.card-property-details span {
  gap: 5px;
  display: flex;
  align-items: center;
}

.card-seller-name{
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: end;
}

.card-button,
.card-delete-btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
  transition: 0.3s ease;
}

.card-button {
  background-color: #3770FF;
  color: #ffffff;
  /* background-color: #DAF2FF;
  color: #3770FF; */
  /* font-weight: 300; */
}
.card-button:hover {
  /* background-color: #3770ffd8; */
  /* box-shadow: inset 12px 12px 8px -10px rgba(0,0,0,0.4); */
  transform: scale(0.97);
  background-color: #DAF2FF;
  color: #3770FF;
  /* background-color: #3770FF;
  color: #ffffff; */
  font-weight: 500;
}

.card-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  /* background-color: #e74c3c;
  color: #ffffff; */
  border: 1px solid red;
  color: red;
  background-color: #FFF;
}
.card-delete-btn:hover{
  background-color: #FFF;
  /* border: 1px solid red;
  color: red; */
  background-color: #e74c3c;
  color: #ffffff;
  transform: scale(0.97);
  /* box-shadow: inset 13px 13px 8px -10px rgba(0,0,0,0.4); */
}

/* properties page */

.myproperties-container{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
  justify-content: space-around;
}


.my-properties {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around !important;
} 


/* -------------property detail----------- */

.property-details-container {
  /* max-width: 800px;
  margin: 0 auto; */
  padding: 50px 100px;
}

/* main slider */
.slick-initialized .slick-slide {
  display: flex !important;
}
.slick-slide{
  justify-content: center;
  align-items: center;
  
}

.property-img-slider {
  margin-bottom: 20px;
}
.slider-item {
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}
/* dots */
/* .slick-dots{
  display: none !important;
} */

/* next,prev button */
.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
}

.slick-next::before, .slick-prev::before{
  color: #000 !important;
  font-size: 30px !important; 
  position: relative;
}
.slick-prev::before{
  left: -12px;
}

/* all photos of slider */
/* .property-highlight {
  display: flex;
  gap: 15px;
}

.property-highlight img {
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
} */


.slick-track{
  margin-bottom: 20px !important;
}


.property-content{
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.property-highlights-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.property-highlights {
  /* background-color: #f7f7f7; */
  /* background-color: #f3f4f6; */
  background-color: #f3f4f657;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.property-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-type{
  font-size: 30px;
  font-weight: 500;
}

.property-seller {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  background-color: #f3f4f657;
  padding: 20px;
  gap: 30px;
}

.property-address {
  font-size: 21px;
  margin: 20px 0px;
  text-transform: capitalize;
  font-weight: 300;
  font-family: inherit;
}
.property-address-inside{
  display: flex;
  align-items: center;
}

.property-price {
  display: flex;
  gap: 10px;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

.property-description {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300;
  gap: 10px;
  word-wrap: break-word; 
} 
.property-description h3{
  font-size: 23px;
  font-weight: 500;
}

.property-features {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.property-features h2{
  font-weight: 500;
}
.feature-item-container{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .feature-item {
    /* height: 40px; */
    flex: 1;
    margin-top: 10px;
    display: flex;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    gap: 5px;
  }
}


.property-photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .additional-photo {
    flex: 0 0 48%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* seller form */

.seller-form-container{
  width: 40%;
  padding: 0px 15px;
}

.seller-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky !important;
  top: 90px;
}

#input-seller-form1{
  margin-top: 10px;
}

.seller-form h1{
  font-weight: 500;
}

.input-seller-form {
  height: 50px;
  border-radius: 8px;
  border: 2px solid #3770FF;
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
  margin-bottom: 40px;
}

.input-seller-form:focus {
  border-bottom: 4px solid #3770FF;
  padding-top: 2px;
  box-shadow: 11px 10px 15px -3px rgba(0,0,0,0.1);
}

.input-seller-form::placeholder {
  color: #3770FF;
  opacity: 0.5;
}

.send-req{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.send-req button{
  cursor: pointer;
  background-color: #e6efff;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
}
.send-req button:hover{
  transform: scale(0.95);
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}





/* --------pricing page------------ */

.plans-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.plan-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan-card h2 {
  font-size: 24px;
  color: #333;
}

.plan-card p {
  font-size: 16px;
  color: #666;
}

.plan-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.plan-card button:hover {
  background-color: #0056b3;
}




/*  */

/* styles.css */

.pricing-container {
  /* padding-top: 2.5rem; */
  padding-bottom: 2.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pricing-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pricing-title {
  font-size: 3rem;
  font-weight: 600;
  color: #010851;
}

.pricing-description {
  color: #333;
  max-width: 33.33%;
  margin-left: auto;
  margin-right: auto;
}

.pricing-toggle {
  margin-top: 2.5rem;
}

.pricing-toggle-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.pricing-toggle-switch {
  width: 3.5rem;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.pricing-toggle-switch-handle-monthly {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.3s;
}

.pricing-toggle-switch-handle-yearly {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  border-radius: 50%;
  transform: translateX(2rem);
  transition: transform 0.3s;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
}

.hidden{
  display: none;
}

.pricing-package {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  /* box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2); */
}
.pricing-package:hover{
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}

.pricing-package-name {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.pricing-package-description {
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pricing-package-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: #010851;
}

.pricing-package-price-unit {
  font-size: 1rem;
  font-weight: normal;
  color: #666;
}

.pricing-package-features {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 1rem;
}

.feature {
  display: flex;
  align-items: center;
}

.feature-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #010851;
}

.feature-text {
  font-size: 1rem;
  color: #333;
}

.pricing-package-button {
  margin-top: 1.5rem;
}

.pricing-package-button-primary {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FFF;
  border: 1px solid #3770FF;
  color: #3770FF;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-package-button-primary:hover {
  background-color: #3770FF;
  color: #FFF;
}












/*  */

.about-us-page {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.intro {
  text-align: center;
  padding: 2rem 0;
  background-color: #f5f5f5;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.intro p {
  max-width: 50rem;
  margin: auto;
}

.intro button {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.services,
.products,
.client-feedback {
  padding: 2rem 0;
}

.services h2,
.products h2,
.client-feedback h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.services p,
.products p,
.client-feedback p {
  max-width: 50rem;
  margin: auto;
}