@media (min-width: 1100px) and (max-width: 1520px) {
  .home-hero5 {
    padding: 0px 10px 50px 10px;
  }
  .home-hero5-content-wrapper{
    gap: 20px;
  }

  .footer{
    padding: 30px 50px 30px 50px;
  }
}

@media (min-width: 800px) and (max-width: 1410px) {

  .home-hero2 {
    padding: 0px 50px 50px 50px;
  }

  .home-hero3{
    padding: 30px;
  }

  .home-hero4 {
    padding: 50px 20px;
  }

  .my-properties{
    width: 100%;
    gap: 0px;
  }

}
  
@media only screen and (max-width: 1200px) {
  
  /* home */
  
  /*  section 1 */
      .home-hero1 {
        padding: 0 50px;
      }
  
      .home-hero1-right img{
          height: 300px;
          width: 350px;
      }
  
      .home-hero1-left h1 {
          font-size: 24px;
        }
  
        /* properties page */
  
        .myproperties-container{
          padding: 20px 20px;
        }
  
        /* footer */
  
        .footer{
          padding: 50px;
        }
}
  

@media (max-width: 800px){
.my-properties{
  gap: 0px;
}
}

/* for navbar */

@media only screen and (max-width: 1000px) {
  
  .navbar {
    padding: 14px 3% 15px 3%;
  }

  .nav-left {
    order: 1;
  }
  
  .nav-middle {
    display: none;
  }
  
  .nav-right {
    order: 3;
  }

  .nav-right3{
    display: none;
  }

/* hamburger icons */

/* Hamburger menu button */
.hamburger-menu {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  height: 25px;
  width: 25px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

/* Individual span elements representing the hamburger icon lines */
.hamburger-menu span {
  width: 100%;
  height: 0.1rem;
  border-radius: 0.125rem;
  background-color: rgb(0, 122, 255);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, width .4s, opacity .4s;
}

/* Styling for the middle span to create the hamburger icon */
.hamburger-menu span:nth-child(2) {
  width: 60%;
}

/* Styling for the active state of the hamburger menu */
.hamburger-menu.active span:nth-child(1) {
  background-color: black;
  transform: translateY(7.5px) rotate(-45deg);
}

.hamburger-menu.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  background-color: black;
  transform: translateY(-7.5px) rotate(45deg);
}


  .hamburger-menu a{
    color: #3770FF;
    text-decoration: none;
  }
  

  .hamburger-menu-links {
    display: block;
  }

  /* mobile-nav-links */

  .mobile-nav-middle{
    background: white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column !important;
    top: 70px;
    left: 0;
    position: absolute;
    box-shadow: 0px 16px 16px -16px #5F9DE77A;

    animation: slideInFromLeft 0.5s ease forwards;
  }

  .mobile-nav-middle ul{
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    justify-content: space-around;
  }

 .mobile-nav-middle ul li {
    font-size: 18px;
    width: fit-content;
    color: #3f5269;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    margin: 10px 20px;
    cursor: pointer;

    /* transform: translateX(-50px);  */
    opacity: 0;
  }


  @keyframes slideInFromLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  .mobile-nav-middle ul li:nth-child(1) {
      animation: slideInFromLeft 0.5s ease forwards; 
      animation-delay: 0.2s; 
  }

  .mobile-nav-middle ul li:nth-child(2) {
      animation: slideInFromLeft 0.5s ease forwards; 
      animation-delay: 0.4s; 
  }

  .mobile-nav-middle ul li:nth-child(3) {
      animation: slideInFromLeft 0.5s ease forwards;
      animation-delay: 0.6s; 
  }

  .mobile-nav-middle ul li:last-child {
      animation: slideInFromLeft 0.5s ease forwards;
      animation-delay: 0.8s; 
  }



  .mobile-nav-middle ul li:focus,
  .mobile-nav-middle ul li:hover,
  .mobile-nav-middle ul li span.active {
    color: #3770FF;
    /* position: relative; */
  }

  .mobile-nav-middle ul li:after,
  .mobile-nav-middle ul li span.active:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    /* right: 0; */
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #3770FF;
    transition: width 0.4s ease, left 0.4s ease;

    /* transition: width 0.4s ease, right 0.4s ease;  */
  }

  .mobile-nav-middle ul li:hover:after,
  .mobile-nav-middle ul li:focus:after,
  .mobile-nav-middle ul li span.active::after {
    width: 100%;
    left: 0%;

    /* right: auto; */
  }

  .sidebar{
    display: none;
  }

  .nav-right .dashboard-menu ul {
    display: block;
  }

  /* dashboard menu */

  .close-dashboard-menu{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: #3770FF;
    font-size: 22px;
  }
  
  .dashboard-menu {
    background: white;
    width: fit-content;
    padding: 10px 20px; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    right: -0;
    bottom: 0;
    top: calc(100% + 10px);
    position: absolute;
    border-radius: 10px;
    gap: 0px;
    box-shadow: -2px 2px 8px rgb(95 157 231 / 20%), 4px 4px 16px rgb(95 157 231 / 20%);

    animation: slideInFromRight 0.5s ease forwards;
  }

  .dashboard-menu a{
    opacity: 0;
  }

  .sidebar-bottom{
    opacity: 0;
  }

.dashboard-menu a:nth-child(1) {
    animation: slideInFromRight 0.5s ease forwards; 
    animation-delay: 0.2s; 
}

.dashboard-menu a:nth-child(2) {
    animation: slideInFromRight 0.5s ease forwards; 
    animation-delay: 0.3s; 
}

.dashboard-menu a:nth-child(3) {
    animation: slideInFromRight 0.5s ease forwards;
    animation-delay: 0.4s; 
}

.dashboard-menu a:nth-child(4) {
    animation: slideInFromRight 0.5s ease forwards;
    animation-delay: 0.5s; 
}

.dashboard-menu a:nth-child(5) {
  animation: slideInFromRight 0.5s ease forwards;
  animation-delay: 0.6s; 
}

.dashboard-menu-link{
  margin-bottom: 10px;
}

.partition-mob{
  animation: slideInFromRight 0.5s ease forwards;
}

.sidebar-bottom{
    animation: slideInFromRight 0.5s ease forwards;
}

  @keyframes slideInFromRight {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  .sidebar-link{
    padding: 10px;
    margin-bottom: 10px;
  }

  .sidebar-bottom {
    justify-content: center;
    margin-top: 0px;
  }

  .sidebar-bottom button{
    align-items: center;
    justify-content: flex-start;
    box-shadow: none;
    padding: 12px;
    width: 160px;
  }


  /* partition-mobile */

  .partition-mob{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 10px;
    height: 1.5px;
    width: 83.333333%;
    background-color: lightgray;
  }

  
  /* for my listing */
  .loader{
    z-index: 0;
  }


}



@media only screen and (max-width: 968px){

  .home-hero4 {
    padding: 50px 50px;
  }

  .navbar{
    height: 70px;
  }

}
  
 
@media only screen and (max-width: 768px) {

  /* navbar */

  .mobile-nav-middle{
    background: white;
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 70px;
    left: 0;
    position: absolute;
  }

  /* home page */
    .home-hero1 {
      padding: 0 20px;
    }
    .home-hero1-left{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start !important;
    }

    .get-started-div{
      margin-top: 30px;
      justify-content: flex-start !important;
    }

    .custom-btn{
      width: 120px;
      height: 30px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .home-hero1-left h1 {
      max-width: 100%;
      text-align: start;
      font-size: 18px;
    }
  
    .home-hero1-right {
      margin-top: 20px;
    }
  
    .home-hero1-right img {
      height: 280px;
      width: 280px;
      max-width: 100%;
    }
  
    .get-started-div {
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    /* curve img */
    .custom-shape-divider-top-1705728335 svg {
      height: 100%;
    }

    /* section 2 */

    .home-hero2 {
      padding: 20px 20px;
    }
  
    .home-hero2-main {
      flex-direction: column;
      gap: 20px;
    }

    .custom-left{
      flex: 1 1 100%;
      max-width: 100%;
      padding: 35px;
    }

    .custom-left-under{
      gap: 25px;
    }

    .custom-right {
      flex: 1 1 100%;
      min-width: 100%;
    }
    
    .custom-item-text{
      font-size: 18px;
    }

    .custom-left-under p{
      font-size: 18px;
    }
    
    .custom-left-under h3{
      font-size: 15px;
    }
  
    .custom-grid {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
  
    .custom-element {
      font-size: 18px;
      padding: 15px;
      height: 180px;
    }

    /* wave */

    .custom-shape-divider-top-1707325734 svg{
      height: 100%;
    }

    /* section 3 */
    .home-hero3{
      padding: 20px;
    }

    .padding{
      justify-content: center;
      align-items: center;
    }

    .home-hero3-under-1,
    .home-hero3-under-2,
    .home-hero3-under-3,
    .home-hero3-under-4 {
      flex-basis: calc(100% - 20px); 
      max-width: calc(50% - 50px);
    }
    
    .home-hero3-under-1-price{
      font-size: 20px;
    } 

    .home-hero3-under-1-p-top{
      font-size: 18px;
    }

    .home-hero3-under-1-p-bottom{
      font-size: 18px;
    }

    /* divider-home-3 */

    .custom-shape-divider-top-1707326481 svg{
      height: 100%;
    }

    /* section 4 */

    .home-hero4{
      padding: 20px;
      gap: 0px;
    }

    .home-hero4-top {
      align-items: center;
      margin-bottom: 20px; 
    }

    .home-hero4-top h2{
      font-size: 20px;
    }

    .home-hero4-top p{
      font-size: 18px;
    }
  
    .home-hero4-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .my-properties {
      width: 100%;
      gap: 20px;
    }
  
    .property-card {
      width: calc(45% - 5px); 
      margin: 10px;
    }

    .card-price {
      font-size: 20px;
    }

    .card-location{
      font-size: 15px;
    }

    .card-property-details span{
      font-size: 15px;
    }

    /* tilt */

    .custom-shape-divider-bottom-1705730206 svg{
      height: 100%;
    }
   
    /* section 5 */

    .home-hero5 {
      padding: 20px;
    }

    .home-hero5 h1{
      font-size: 25px;
    }
  
    .home-hero5-content-wrapper {
      gap: 20px;
    }
  
    .home-hero5-content {
      max-width: 100%;
      height: 225px;
    }

    .home-hero5-content-left img{
      height: 45px;
      width: 45px;
    }

    /* footer */

    .footer{
      padding: 20px;
    }

    .footer-sub-content-right{
      width: 100%;
      justify-content: space-between;
    }

    /* totop */
    .totop {
      height: 45px; 
      width: 45px;
      font-size: 22px; 
    }

    /* filter modal */
    .filter-price {
      flex-direction: column;
    }


}
  

@media only screen and (max-width: 468px) {

  /* navbar */

  .navbar{
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    height: 55px;
  }

  .nav-left a img{
    width: 130px !important;
  }
  
  .nav-right1{
    display: none;
  }

  .f-name p{
    display: none;
  }

  /* hamburger */

  .hamburger-menu {
    align-items: center;
    justify-content: center;
    /* top: 5px; */
    font-size: 1.5rem;
  }

  /* mobile-nav-links */

  .mobile-nav-middle{
    top: 53px;
    height: 270px;
  }

  /* dashboard-menu */

  .close-dashboard-menu{
    font-size: 24px;
  }

  /* signin page */

  .signin-btn button{
    padding: 10px;
  }
  

  /* homepage */
  .home-hero1 {
    padding: 0 20px;
    flex-direction: column-reverse;
  }
  .home-hero1-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
  }

  .get-started-div{
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: flex-start !important;
  }

  .custom-btn{
    width: 110px;
    height: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
  }

  .home-hero1-left h1 {
    max-width: 100%;
    text-align: start;
    font-size: 18px;
  }

  .home-hero1-right {
    margin-top: 20px;
  }

  .home-hero1-right img {
    height: 250px;
    width: 300px;
    max-width: 100%;
  }

  .get-started-div {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* curve img*/

  .custom-shape-divider-top-1705728335 svg {
    height: 100%;
  }

  /* section 2 */

  .home-hero2-main {
    display: flex;
    flex-direction: column;
  }

  .custom-left{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px
  }
  
  .custom-right {
    width: 100%;
    margin-bottom: 10px;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .custom-element {
    height: 150px;
    padding: 20px;
  }

  /* wave */

  .custom-shape-divider-top-1707325734 svg{
    height: 100%;
  }

  /* section 3 */

  .home-hero3{
    padding: 20px;
  }

  .padding{
    width: 100%;
  }

  .home-hero3-under-1, 
  .home-hero3-under-2, 
  .home-hero3-under-3, 
  .home-hero3-under-4 {
    height: 230px;
    flex-basis: calc(100% - 20px);
    max-width: calc(50% - 20px);
  }

  /* divider-home-3 */

  .custom-shape-divider-top-1707326481 svg{
    height: 100%;
  }

  /* section 4 */

  .home-hero4 {
    padding: 20px;
    gap: 20px;
  }
  .home-hero4-top{
    width: 100%;
    margin-bottom: 0px;
  }

  .home-hero4-top h2{
    font-size: 20px;
  }

  .home-hero4-top p{
    font-size: 18px;
  }

  .my-properties{
    gap: 20px;
  }

  .property-card {
    width: 75%; 
  }

  /* tilt */

  .custom-shape-divider-bottom-1705730206 svg{
    height: 100%;
  }


  /* section 5 */

  .home-hero5 {
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden !important;
  }

  .home-hero5-content-wrapper {
    gap: 20px;
  }

  .home-hero5-content {
    max-width: 100%;
    justify-content: center;
  }

  .home-hero5-content {
    width: 100%;
    height: 100%;
  }

  .home-hero5-content-right-p2 {
    text-align: justify;
    font-size: 15px;
}

  /* tilt-2*/

  .custom-shape-divider-bottom-272727 svg{
    height: 100%;
  }

  /* footer */

  .footer {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .footer-top {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer-section h2 {
    font-size: 20px;
  }

  .footer-sub-content-left {
    width: 100%; 
    margin: 0;
    align-items: center;
    height: auto;
  }

  .footer-sub-content-right {
    gap: 10px;
    margin-top: 10px;
  }

  .footer-icons-wrapper {
    justify-content: center; 
  }

  .partition2 {
    margin-top: 1rem; 
    margin-bottom: 1rem;
  }

  /* totop */

  .totop {
    height: 45px;
    width: 45px;
    font-size: 22px;
  }

}


@media only screen and (max-width: 300px){

  .navbar{
    height: 50px;
  }

  .property-card{
    width: 100%;
  }

  .padding{
    width: 100%;
    flex-direction: column;
  }

  .home-hero3-under-1, 
  .home-hero3-under-2, 
  .home-hero3-under-3, 
  .home-hero3-under-4 {
    height: 230px;
    flex-basis: calc(100% - 20px);
    min-width: 95%;
  }

  .custom-grid {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

  .home-hero5{
    margin: 0;
    padding: 10px;
  }

  .footer{
    padding: 10px;
  }

  .footer-top{
    flex-direction: column;
    gap: 10px;
  }

}