
/* home */

/*  section 1 */
@media only screen and (min-width: 1200px) {
    .home-hero1 {
      padding: 0 100px;
      flex-direction: row-reverse; 
    }
  }
  
@media only screen and (max-width: 1199px) {
    .home-hero1 {
      padding: 0 50px;
      flex-direction: column;
    }

    .home-hero1-right {
        order: -1;
      }
  }
  
 
@media only screen and (max-width: 768px) {
    .home-hero1 {
      padding: 0 20px;
      flex-direction: column;
    }
  
    .home-hero1-left h1 {
      max-width: 100%;
      text-align: center;
      font-size: 24px;
    }
  
    .home-hero1-right {
      margin-top: 20px;
    }
  
    .home-hero1-right img {
      height: auto;
      max-width: 100%;
    }
  
    .get-started-div {
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }
}
  
/*  section 2 */
/* .home-hero2 {
    font-family: 'Poppins', sans-serif;
    padding: 0 20px 100px 20px; 
  }
  
  .home-hero2-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }
  
  Section-2 left
  .custom-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    border-radius: 20px;
    gap: 20px;
    background-color: #9cdcffdb;
  }
  
  .custom-left-under p {
    max-width: 100%;
  }
  
  .custom-left-under h3 {
    max-width: 100%;
  }
  
  Section-2 right
  .custom-right {
    flex: 1;
  }
  
  .custom-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
  }
  
  .custom-element {
    display: flex;
    gap: 24px;
    background-color: #DAF2FF;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .custom-icon {
    height: 40px;
    width: 40px;
  }
  
  @media (max-width: 768px) {
    .home-hero2 {
      padding: 0 10px 100px 10px;
    }
  
    .home-hero2-main {
      flex-direction: column;
      gap: 20px;
    }
  
    .custom-left,
    .custom-right {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .custom-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .custom-element {
      font-size: 18px;
      padding: 15px;
    }
  }
*/

   /* section 3 */

  @media (max-width: 768px) {
    .home-hero3-under-1, .home-hero3-under-2, .home-hero3-under-3, .home-hero3-under-4 {
      flex-basis: calc(100% - 20px);
      max-width: calc(100% - 20px);
    }
  }
  

  /* section 5 */

  @media (max-width: 768px) {
    .home-hero5 {
      padding: 30px 10px 50px 10px;
    }
  
    .home-hero5-content-wrapper {
      gap: 20px;
    }
  
    .home-hero5-content {
      max-width: 100%;
    }
}

/* filter modal */
@media (max-width: 770px){
  .filter-price {
    flex-direction: column;
  }
}